<div class="container-fluid">
  <div class="row p-5">
    <div class="col-md-12 text-center heading">
      Manage <span class="font-weight-bold"> Campaigns</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-tab-container
        [tabOptions]="tabOptions"
        (setTabSelected)="tabSelected($event)"
      ></app-tab-container>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-campaign-details
        [campaignsSelected]="campaignsSelected"
      ></app-campaign-details>
    </div>
  </div>
</div>
